.vjs-default-skin .vjs-sharetools-button::before {
    content: "\e008";
}

.sharetools-overlay {
    background-color:  #000;
    background-color: rgba(0, 0, 0, 0.4);;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}